{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-2">
    <nav id="about-content" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#history">History</a>
        <a class="nav-link" href="#licenses">Licenses</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#kinder">K-inder</a>
          <a class="nav-link ms-3 my-1" href="#bootstrap">Bootstrap</a>
          <a class="nav-link ms-3 my-1" href="#kodi">Kodi</a>
          <a class="nav-link ms-3 my-1" href="#jellyfin">Jellyfin</a>
          <a class="nav-link ms-3 my-1" href="#emby">Emby</a>
          <a class="nav-link ms-3 my-1" href="#plex">Plex</a>
          <a class="nav-link ms-3 my-1" href="#netflix">Netflix</a>
          <a class="nav-link ms-3 my-1" href="#amazon_prime">Amazon Prime</a>
          <a class="nav-link ms-3 my-1" href="#amazon">Amazon</a>
          <a class="nav-link ms-3 my-1" href="#disney_plus">Disney Plus</a>
          <a class="nav-link ms-3 my-1" href="#paramount_plus">Paramount Plus</a>
          <a class="nav-link ms-3 my-1" href="#appletv_plus">AppleTV+</a>
          <a class="nav-link ms-3 my-1" href="#wow">WOW</a>
          <a class="nav-link ms-3 my-1" href="#sky">Sky Go</a>
          <a class="nav-link ms-3 my-1" href="#ard">ARD</a>
          <a class="nav-link ms-3 my-1" href="#zdf">ZDF</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="col-10">
    <div data-bs-spy="scroll" data-bs-target="#about-content" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="history">
        <h4>History</h4>
        <p>{{ history | safe }}</p>
      </div>
      <div id="licenses">
        <h4>Licenses</h4>
        <p>Licenses of K-inder and all used components.</p>
      </div>
      <div id="kinder">
        <h5>K-inder</h5>
        <p>{{ license | safe }}</p>
      </div>
      <div id="bootstrap">
        <h5>Bootstrap</h5>
        <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> is an open-source front-end framework for developing responsive web applications. It is licensed under the MIT License.
        <br><br>
        <p>{{ bootstrap | safe }}</p>
      </div>
      <div id="kodi">
        <h5>Kodi</h5>
        <p>Kodi is a registered trademark of the <a href="https://kodi.tv/" target="_blank">Kodi</a> Foundation.</p>
      </div>
      <div id="Jellyfin">
        <h5>Jellyfin</h5>
        <p><a href="https://jellyfin.org/" target="_blank">Jellyfin</a> is published under the GPL Version 2.</p>
      </div>
      <div id="emby">
        <h5>Emby</h5>
        <p>Emby is a registered trademark of the <a href="https://emby.media/" target="_blank">Emby</a> Corporation.</p>
      </div>
      <div id="plex">
        <h5>Plex</h5>
        <p>Plex is a registered trademark of the <a href="https://www.plex.tv/" target="_blank">Plex</a> Inc.</p>
      </div>
      <div id="netflix">
        <h5>Netflix</h5>
        <p>Netflix is a registered trademark of <a href="https://www.netflix.com/" target="_blank">Netflix</a>, Inc.</p>
      </div>
      <div id="amazon_prime">
        <h5>Amazon Prime</h5>
        <p>Amazon Prime is a registered trademark of <a href="https://amazon.com/" target="_blank">Amazon.com</a>, Inc. or its affiliates.</p>
      </div>
      <div id="amazon">
        <h5>Amazon</h5>
        <p>Amazon is a registered trademark of <a href="https://amazon.com/" target="_blank">Amazon.com</a>, Inc. or its affiliates.</p>
      </div>
      <div id="disney_plus">
        <h5>Disney Plus</h5>
        <p><a href="https://www.disneyplus.com/" target="_blank">Disney+</a> is a registered trademark of The Walt Disney Company.</p>
      </div>
      <div id="paramount_plus">
        <h5>Paramount Plus</h5>
        <p><a href="https://www.paramountplus.com/" target="_blank">Paramount+</a> is a registered trademark of Paramount Global.</p>
      </div>
      <div id="appletv_plus">
        <h5>AppleTV+</h5>
        <p>Apple TV+ is a registered trademark of <a href="https://www.apple.com/" target="_blank">Apple Inc.</a></p>
      </div>
      <div id="wow">
        <h5>WOW</h5>
        <p>WOW is a registered trademark of <a href="https://www.wowtv.de/" target="_blank">WOW</a>.</p>
      </div>
      <div id="sky">
        <h5>Sky Go</h5>
        <p>Sky Go is a registered trademark of <a href="https://www.sky.de/" target="_blank">Sky</a>.</p>
      </div>
      <div id="ard">
        <h5>ARD Mediathek</h5>
        <p>ARD Mediathek is a registered trademark of <a href="https://www.ardmediathek.de/" target="_blank">ARD</a>.</p>
      </div>
      <div id="zdf">
        <h5>ZDF</h5>
        <p>ZDF is a registered trademark of <a href="https://www.zdf.de/" target="_blank">ZDF</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
