<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for style in styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename=style) }}">
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ url_for('static', filename=script) }}"></script>
    {% endfor %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/favicon-kodi.svg') }}">
    <title>-inder</title>
</head>
<body>
<!--
    <header>
        <h1>K-inder</h1>
    </header>
-->
    <main>
        <div name="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
        
        {% block content %}{% endblock %}

        <div class="container d-none" name="master-error-container">
            <h2>General Master error!</h2>
            <p>
              Received a big error!<br>
              Please double check your KODi settings in KODi (ist the api enabled, are the credentials right?)
            </p>
            <p name="details"></p>
        </div>
    </main>

    <template id="toast-template">
        <div name="toast" class="toast text-bg-primary" role="alert">
            <div class="toast-header d-none">
                <strong class="me-auto"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </template>

</body>
</html>
