<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for style in styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename=style) }}">
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ url_for('static', filename=script) }}"></script>
    {% endfor %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/favicon-kodi.svg') }}">
    <title>-inder</title>
</head>
<body>
<!--
    <header>
        <h1>K-inder</h1>
    </header>
-->
    <main>
        <div name="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
        {% block content %}{% endblock %}
    </main>

    <template id="toast-template">
        <div name="toast" class="toast text-bg-primary" role="alert">
            <div class="toast-header d-none">
                <strong class="me-auto"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </template>

    <template id="spinner-template">
        <div class="d-flex justify-content-center" name="spinner">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </template>
      
    <template id="movie-status-template">
        <div name="movie-status">
            <div class="px-1" name="title"></div>
            <div class="row mb-2">
                <div class="col"></div>
                <div name="pros" class="col"><span name="count"></span><i class="bi bi-hand-thumbs-up-fill"></i></div>
                <div name="cons" class="col"><span name="count"></span><i class="bi bi-hand-thumbs-down-fill"></i></div>
                <div name="votes" class="col"></div>
            </div>
        </div>
    </template>

    <template id="image-template">
        <div name="image-container" class="image-container">
            <img name="image" class="image" />
            <div name="image-overlays" class="image-overlays"></div>
            <div name="contra-area" class="contra-area"></div>
            <div name="pro-area" class="pro-area"></div>
        </div>
    </template>

    <template id="title-template">
        <div class="text-center title-overlay badge text-bg-secondary text-wrap"><h3></h3></div>
    </template>

    <template id="genre-tag-template">
        <span class="badge text-bg-dark genre-tag"></span>
    </template>

</body>
</html>
