<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for style in styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename=style) }}">
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ url_for('static', filename=script) }}"></script>
    {% endfor %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon-kodi.svg') }}">
    <title>K-inder</title>
</head>
<body>
    <header>
        <h1>K-inder</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
