<div class="fixed-top-center row" name="session-end-condition">
  <span class="col d-none" name="time"><h4><span class="badge text-bg-secondary"><i class="bi bi-alarm-fill"></i> &infin;</i> m</span></h4></span>
  <span class="col d-none" name="votes"><h4><span class="badge text-bg-secondary"><i class="bi bi-person-raised-hand"></i> 0&#47;&infin;</span></h4></span>
  <span class="col d-none" name="matches"><h4><span class="badge text-bg-secondary"><i class="bi bi-stars"></i> 0&#47;&infin;</span></h4></span>
</div>