{% extends "base.html" %}

{% block content %}

<div class="container" name="login-container">
  <div class="mb-3">

    <label for="username" class="form-label">Your name:</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control mb-1 is-invalid" name="username" placeholder="This is you ;-)" required  autocomplete="off">
      <div class="invalid-feedback">
        Please enter a unique name!
      </div>
    </div>

    <div name="session-switch" class="d-none mt-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sessionchoise" value="create" id="session-create">
        <label class="form-check-label" for="session-create">
          Create a new session
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sessionchoise" value="join" id="session-join">
        <label class="form-check-label" for="session-join">
          Join existing session
        </label>
      </div>
    </div>

    <div name="session-create" class="d-none mt-2">
      <label for="sessionname" class="form-label">Name your session:</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control mb-1 is-invalid" placeholder="A name for the session" name="sessionname" required  autocomplete="off">
        <div class="invalid-feedback">
          Please enter a name for a session to start!
        </div>
      </div>

      <div class="mt-2" name="movie_provider-container">
        <label for="movie_provider" class="form-label">Movie Provider:</label>
        <div name="movie_provider" class="btn-group" role="group">
          <div class="input-group has-validation">
            <div class="invalid-feedback">
              Check at least one provider for your movies!
            </div>
          </div>
        </div>
      </div>

      <div class="mt-2" name="disabled-genres-container">
        <label for="disabled-genres" class="form-label">Anti-Genres:</label>
        <div class="input-group has-validation">
          <select class="form-select" name="disabled-genres" multiple size="2"></select>
          <div class="invalid-feedback">
            Anti-Genres and Must-Genres must not contain overlapping genres!
          </div>
        </div>
      </div>

      <div class="mt-2" name="must-genres-container">
        <label for="must-genres" class="form-label">Must-Genres:</label>
        <div class="input-group has-validation">
          <select class="form-select" name="must-genres" multiple size="2"></select>
          <div class="invalid-feedback">
            Anti-Genres and Must-Genres must not contain overlapping genres!
          </div>
        </div>
      </div>

      <div class="mt-2" name="max-age-container">
        <div class="input-group">
          <label for="max-age" class="form-label mr-2">Max age: </label>
          <input type="range" class="form-control form-range ml-2" min="0" max="4" step="1" name="max-age" value="4">
          <span name="max-age-display" class="input-group-text">18+</span>
        </div>        
      </div>

      <div class="mt-2" name="max-duration-container">
        <div class="input-group">
          <label for="max-duration" class="form-label mr-2">Max duration: </label>
          <input type="range" class="form-control form-range ml-2" min="0" max="10" step="1" name="max-duration" value="10">
          <span name="max-duration-display" class="input-group-text">240+ min.</span>
        </div>
      </div>

      <div class="mt-2" name="include-watched-container">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="include-watched" checked>
          <label class="form-check-label" for="include-watched">
            Included watched movies
          </label>
        </div>
      </div>

    </div>

    <div name="session-join" class="d-none mt-2">
      <label for="sessionnames" class="form-label">Session to join:</label>
      <select class="form-select" name="sessinonames">
      </select>
    </div>

  </div>
  <button type="button" class="btn btn-primary" disabled>Create</button>
</div>

<div name="about-link" class="about-link"><i class="bi bi-info"></i></div>

<template id="provider-select-template">
  <input type="checkbox" class="btn-check" name="disney_plus" data-source="tmdb" id="provider_disney_plus" autocomplete="off">
  <label class="btn btn-outline-primary" for="provider_disney_plus">
    <img src="static/images/logo_disney_plus.png" alt="Disney+" style="width: 40px; height: 40px;">
  </label>
</template>

{% endblock %}
