{% extends "base.html" %}

{% block content %}

<div class="container" name="login-container">
  <div class="mb-3">

    <ul name="session-switch" class="nav nav-tabs d-none">
      <li class="nav-item">
        <a name="create" class="nav-link" href="#">New session</a>
      </li>
      <li class="nav-item">
        <a name="join" class="nav-link" href="#">Existing session</a>
      </li>
    </ul>

    <div class="input-group has-validation mt-2">
      <span class="input-group-text input-group-text-small">Your name:</span>
      <input type="text" class="form-control mb-1 is-invalid" name="username" placeholder="This is you ;-)" required  autocomplete="off">
      <div class="invalid-feedback">
        Please enter a unique name!
      </div>
    </div>

    <div name="session-create" class="d-none mt-2">
      <div class="input-group has-validation">
        <span class="input-group-text input-group-text-small">New session:</span>
        <input type="text" class="form-control mb-1 is-invalid" placeholder="A name for the session" name="sessionname" required  autocomplete="off">
        <div class="invalid-feedback">
          Please enter a name for a session to start!
        </div>
      </div>

      <div class="mt-2" name="movie_provider-container">
        <label for="movie_provider" class="form-label">Movie Provider:</label>
        <div name="movie_provider" class="btn-group" role="group">
          <div class="input-group has-validation">
            <div class="invalid-feedback">
              Check at least one provider for your movies!
            </div>
          </div>
        </div>
      </div>

      <div class="mt-2" name="disabled-genres-container">
        <div class="input-group has-validation">
          <span class="input-group-text">Anti-Genres:</span>
          <select class="form-select" name="disabled-genres" multiple size="2"></select>
          <div class="invalid-feedback">
            Anti-Genres and Must-Genres must not contain overlapping genres!
          </div>
        </div>
      </div>

      <div class="mt-2" name="must-genres-container">
        <div class="input-group has-validation">
          <span class="input-group-text">Must-Genres:</span>
          <select class="form-select" name="must-genres" multiple size="2"></select>
          <div class="invalid-feedback">
            Anti-Genres and Must-Genres must not contain overlapping genres!
          </div>
        </div>
      </div>

      <div class="mt-2" name="max-age-container">
        <div class="input-group">
          <span class="input-group-text input-group-text-small">Max age:</span>
          <input type="range" class="form-control form-range ml-2" min="0" max="4" step="1" name="max-age" value="4">
          <span name="max-age-display" class="input-group-text input-group-text-small">18+</span>
        </div>        
      </div>

      <div class="mt-2" name="max-duration-container">
        <div class="input-group">
          <span class="input-group-text input-group-text-small">Max duration:</span>
          <input type="range" class="form-control form-range ml-2" min="0" max="10" step="1" name="max-duration" value="10">
          <span name="max-duration-display" class="input-group-text input-group-text-small">240+ min.</span>
        </div>
      </div>

      <div class="mt-2" name="include-watched-container">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="include-watched" checked>
          <label class="form-check-label" for="include-watched">
            Included watched movies
          </label>
        </div>
      </div>

      <div class="mt-2" name="end-condition-container">
        <div>Session limits</div>

        <div class="row">
          <div class="col-1"></div>
          <div class="form-check col-4 mt-2 pb-3">
            <input class="form-check-input" type="checkbox" name="end-time-limit-chckbx" id="end-time-limit-chckbx">
            <label class="form-check-label" for="end-time-limit-chckbx">
              <i class="bi bi-alarm-fill"></i> minutes
            </label>
          </div>
          <div class="col-5">
            <div class="input-group has-validation">
              <input type="number" class="form-control is-invalid" name="end-time-limit" min="1" value="7">
              <div class="invalid-feedback">
                Please enter a number >= 1
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1"></div>
          <div class="form-check col-4 mt-2 pb-3">
            <input class="form-check-input" type="checkbox" name="end-vote-limit-chckbx" id="end-vote-limit-chckbx">
            <label class="form-check-label" for="end-vote-limit-chckbx">
              <i class="bi bi-person-raised-hand"></i> votes
            </label>
          </div>
          <div class="col-5">
            <div class="input-group has-validation">
              <input type="number" class="form-control is-invalid" name="end-vote-limit" min="1" value="100">
              <div class="invalid-feedback">
                Please enter a number >= 1
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-1"></div>
          <div class="form-check col-4 mt-2 pb-3">
            <input class="form-check-input" type="checkbox" name="end-match-limit-chckbx" id="end-match-limit-chckbx">
            <label class="form-check-label" for="end-match-limit-chckbx">
              <i class="bi bi-stars"></i> matches
            </label>
          </div>
          <div class="col-5">
            <div class="input-group has-validation" name="end-match-limit-container">
              <input type="number" class="form-control is-invalid" name="end-match-limit" min="1" value="3">
              <div class="invalid-feedback">
                Please enter a number >= 1
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div name="session-join" class="d-none mt-2">
      <div class="input-group">
        <span class="input-group-text">Join:</span>
        <select class="form-select" name="sessinonames"></select>
      </div>
    </div>

  </div>
  <button type="button" class="btn btn-primary" disabled>Create</button>
</div>

<div name="about-link" class="about-link"><i class="bi bi-info"></i></div>

<template id="provider-select-template">
  <input type="checkbox" class="btn-check" name="disney_plus" data-source="tmdb" id="provider_disney_plus" autocomplete="off">
  <label class="btn btn-outline-primary" for="provider_disney_plus">
    <img src="static/images/logo_disney_plus.png" alt="Disney+" style="width: 40px; height: 40px;">
  </label>
</template>

{% endblock %}
