{% extends "base.html" %}

{% block content %}

<div class="fixed-top-left clickable">
  <button type="button" class="btn btn-outline-primary btn-sm" name="session-status-button">
    <img src="../static/images/favicon-kinder.png" width="25px">
      <span name="match-badge" class=" d-none position-absolute top-100 start-100 translate-middle badge rounded-pill bg-info">0</span>
    </img>
  </button>
</div>

<div class="fixed-top-center row" name="session-end-condition">
  <span class="col d-none" name="time"></span>
  <span class="col d-none" name="votes"></span>
  <span class="col d-none" name="matches"></span>
</div>

<div class="fixed-top-right mt-1">
  <button type="button" class="btn btn-outline-secondary btn-sm" name="session-share"><i class="bi bi-share-fill"></i></button>
  <button type="button" class="btn btn-outline-secondary btn-sm" name="session-stop-button"><i class="bi bi-box-arrow-right"></i></button>
</div>

<div class="card fixed-top-left alert alert-info d-none" name="session-status" style="width: 25rem;">
  <div class="card-header d-flex flex-row ">
    <button type="button" class="btn-close"></button><div class="text-wrap text-start" style="width: 20rem;" name="title"></div>
  </div>
  <div class="card-body">
    <!--<h5 class="card-title"></h5>-->
    <p class="card-text"></p>
    <div class="" name="top">
      <ul class="list-group list-group-flush">
      </ul>
    </div>
    <div class="mt-2" name="flop">
      <ul class="list-group list-group-flush">
      </ul>
    </div>
  </div>
</div>

{% include "movie.html" %}

<div class="container" name="voting-container">
</div>

{% endblock %}
