{% extends "base.html" %}

{% block content %}

<div class="fixed-top-left clickable" name="session-status-button"><i class="bi bi-star-fill" style="font-size: 2rem; color: cornflowerblue;"></i></div>

<div class="card fixed-top-left alert alert-info d-none" name="session-status" style="width: 25rem;">
  <div class="card-header d-flex flex-row ">
    <button type="button" class="btn-close"></button><div class="text-wrap text-start" style="width: 20rem;" name="title"></div>
  </div>
  <div class="card-body">
    <!--<h5 class="card-title"></h5>-->
    <p class="card-text"></p>
    <div class="" name="top">
      <ul class="list-group list-group-flush">
      </ul>
    </div>
    <div class="mt-2" name="flop">
      <ul class="list-group list-group-flush">
      </ul>
    </div>
  </div>
</div>

<template id="spinner-template">
  <div class="d-flex justify-content-center" name="spinner">
      <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
  </div>
</template>

<template id="image-template">
  <div name="image-container" class="image-container">
      <img name="image" class="image" />
      <div name="image-overlays" class="image-overlays"><div class="top-left-overlay"></div><div class="bottom-left-overlay"></div><div class="bottom-right-overlay"></div></div>
      <div name="contra-area" class="contra-area"></div>
      <div name="pro-area" class="pro-area"></div>
  </div>
</template>

<template id="title-template">
  <div class="text-center title-overlay badge text-bg-secondary text-wrap"></div>
</template>

<template id="duration-template">
  <div class="badge text-bg-dark" name="duration"></div>
</template>

<template id="watched-template">
  <div class="badge text-bg-dark" name="watch-state"></div>
</template>

<template id="age-template">
  <span name="age"></span>
</template>

<template id="genre-tag-template">
  <span class="badge text-bg-dark" name="genre"></span>
</template>

<template id="movie-status-template">
  <li class="list-group-item">
    <div name="movie-status">
        <div class="row px-1 fst-italic text-wrap" name="title" style="width: 20rem;"></div>
        <div class="row text-wrap" name="info-row" style="width: 20rem;">
            <div class="col"></div>
            <div name="pros" class="col mb-1"><span name="count"></span><i class="bi bi-hand-thumbs-up-fill"></i></div>
            <div name="cons" class="col mb-1"><span name="count"></span><i class="bi bi-hand-thumbs-down-fill"></i></div>
            <div name="votes" class="col mb-1"></div>
            <div name="action" class="col mb-1">
              <button type="button" class="btn btn-light btn-sm"><i class="bi bi-play-fill"></i></button>
            </div>
        </div>
    </div>
  </li>
</template>

<div class="container" name="voting-container">
</div>

{% endblock %}
