{% extends "base.html" %}

{% block content %}

<div class="fixed-top-left clickable">
  <button type="button" class="btn btn-outline-primary btn-sm" name="session-status-button">
    <img src="../static/images/favicon-kinder.png" width="25px">
      <span name="match-badge" class=" d-none position-absolute top-100 start-100 translate-middle badge rounded-pill bg-info">0</span>
    </img>
  </button>
</div>

{% include "end.html" %}

{% include "status.html" %}

{% include "movie.html" %}

<div class="container" name="voting-container">
</div>

{% endblock %}
