body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.movie-poster {
    width: 640px;
}

.fixed-top-left {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1050;
}

.image-container {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.contra-area, .pro-area {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: transform 0.3s ease;
}
.genre-tag {
    padding: 10px;
    pointer-events: auto; /* Ermöglicht Interaktionen mit den Overlays */
}
.image-overlays {
    position: absolute; /* Ermöglicht das Überlagern */
    top: 0; /* Positioniert die Overlays oben im Hauptcontainer */
    right: 0;
    width: 100%; /* Breite des Hauptcontainers */
    height: 100%; /* Höhe des Hauptcontainers */
    pointer-events: none; /* Verhindert, dass die Overlays Klicks blockieren */
    padding: 20px;
}
.title-overlay {
    position: absolute; /* Positioniert den Overlay relativ zur overlay-container */
    bottom: 10px; /* Abstand vom unteren Rand */
    left: 50%; /* Positioniert in der Mitte */
    transform: translateX(-50%); /* Verschiebt den Overlay um die Hälfte seiner Breite nach links */
    padding: 10px;
    pointer-events: none; /* Ermöglicht Interaktionen mit dem Overlay */
}
.contra-area:hover {
    background-color: rgba(255, 0, 0, 0.5); /* Beispielhintergrund */
}
.contra-area {
    left: 0;
}
.pro-area {
    right: 0;
}
.pro-area:hover {
    background-color: rgba(0, 255, 0, 0.5); /* Beispielhintergrund */
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
.blink {
    animation: blink 1s infinite;
}

.clickable:hover {
    cursor: pointer;
}