:root {
    --pro-background: rgba(0, 255, 0, 0.5);
    --contra-background: rgba(255, 0, 0, 0.5);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.movie-poster {
    width: 640px;
}

.input-group-text-small {
    margin-bottom: 4px;
}
.form-range {
    margin-bottom: 5px;
    height: auto;
}

.fixed-top-left {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1050;
}

.fixed-top-center {
    position: fixed;
    top: 15px;
    left: 62px;
    z-index: 1050;
}

.fixed-top-right {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1050;
}

.image-container {
    margin-top: 35px;
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.contra-area, .pro-area {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: transform 0.3s ease;
    touch-action: pan-y; /* Verhindert das Scrollen in vertikaler Richtung */
}

.top-left-overlay {
    position: absolute; /* Positioniert den Overlay relativ zur overlay-container */
    /* vertical-align: top; */
    top: 0px; /* Abstand vom oberen Rand */
    left: 0px; /* Abstand vom rechten Rand */
    padding: 5px;
    margin-right: 50px; /* Mindestabstand von der rechten Seite */
    pointer-events: none; /* Verhindert, dass die Overlays Klicks blockieren */
    opacity: 0.80;
}

.top-right-overlay {
    display: flex;
    flex-direction: column;
    position: absolute; /* Positioniert den Overlay relativ zur overlay-container */
    top: 0px; /* Abstand vom oberen Rand */
    right: 0px; /* Abstand vom rechten Rand */
    padding: 5px;
    pointer-events: none; /* Ermöglicht Interaktionen mit dem Overlay */
    opacity: 0.80;
}

.image-overlays {
    position: absolute; /* Ermöglicht das Überlagern */
    top: 0; /* Positioniert die Overlays oben im Hauptcontainer */
    right: 0;
    width: 100%; /* Breite des Hauptcontainers */
    height: 100%; /* Höhe des Hauptcontainers */
    pointer-events: none; /* Verhindert, dass die Overlays Klicks blockieren */
    padding: 20px;
}

.bottom-center-overlay {
    position: absolute; /* Positioniert den Overlay relativ zur overlay-container */
    bottom: 0px; /* Abstand vom unteren Rand */
    left: 50%; /* Positioniert in der Mitte */
    transform: translateX(-50%); /* Verschiebt den Overlay um die Hälfte seiner Breite nach links */
    padding: 10px;
    pointer-events: none; /* Ermöglicht Interaktionen mit dem Overlay */
    z-index: 2;
    opacity: 0.80;
}

.bottom-right-overlay {
    position: absolute; /* Positioniert den Overlay relativ zur overlay-container */
    bottom: 0px; /* Abstand vom unteren Rand */
    right: 0px; /* Abstand vom rechten Rand */
    padding: 10px;
    pointer-events: none; /* Ermöglicht Interaktionen mit dem Overlay */
}

.bottom-left-overlay {
    position: absolute; /* Positioniert den Overlay relativ zur overlay-container */
    bottom: 0px; /* Abstand vom unteren Rand */
    left: 0px; /* Abstand vom linke Rand */
    padding: 10px;
    pointer-events: none; /* Ermöglicht Interaktionen mit dem Overlay */
    z-index: 1;
}

.contra-area {
    left: 0;
}

.pro-area {
    right: 0;
}

@media (hover: hover) {
    .pro-area:hover {
        background-color: var(--pro-background);
        cursor: pointer;
    }
    .contra-area:hover {
        background-color: var(--contra-background);
        cursor: pointer;
    }
}

@media (hover: none) {
    .pro-area:hover {
        background-color: initial;
    }
    .contra-area:hover {
        background-color: initial;
    }
}

.contra-background {
    background-color: var(--contra-background);
}

.pro-background {
    background-color: var(--pro-background);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.blink {
    animation: blink 1s infinite;
}

.clickable:hover {
    cursor: pointer;
}

.btn-outline-secondary:hover {
    background-color: #f8f9fa; /* Hellgrau */
    color: #6c757d; /* Dunkelgrau für den Text */
}

@media (min-width: 1080px) {
    .container img {
        max-height: 80vh; /* Maximale Höhe auf 80% der Sichthöhe setzen */
        width: auto; /* Breite automatisch anpassen */
        height: auto; /* Höhe automatisch anpassen */
        display: block; /* Verhindert, dass Bilder untereinander stehen */
        margin: 0 auto; /* Zentriert das Bild */
        object-fit: contain; /* Bild wird skaliert, um im Container sichtbar zu sein */
    }
}

.about-link {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: smaller;
}

.about-link:hover {
    cursor: pointer;
}