<div class="row">
    <button name="genre-selection-btn" class="mt-2 clickable btn btn-outline-secondary text-start">
        <i name="genre-selection-btn-icon" class="bi bi-caret-right-fill"></i> Genres <i name="genre-selection-changed-icon" class="bi bi-activity d-none"></i>
    </button>
</div>
<div name="genre-selection" class="d-none">

    <div class="row mt-2" name="disabled-genres-container">
        <div class="col-11">
        <div class="input-group has-validation">
            <span class="input-group-text">Anti:</span>
            <select class="form-select" name="disabled-genres" multiple size="2"></select>
            <div class="invalid-feedback">
            Anti- and Must-Genres must not contain overlapping genres!
            </div>
        </div>
        </div>
        <div class="mt-3 col-1"><i name="info-icon" class="bi bi-activity d-none"></i></div>
    </div>

    <div class="row mt-2" name="must-genres-container">
        <div class="col-11">
        <div class="input-group has-validation">
            <span class="input-group-text">Must:</span>
            <select class="form-select" name="must-genres" multiple size="2"></select>
            <div class="invalid-feedback">
            Anti- and Must-Genres must not contain overlapping genres!
            </div>
        </div>
        </div>
        <div class="mt-3 col-1"><i name="info-icon" class="bi bi-activity d-none"></i></div>
    </div>

</div>