<div class="row mt-1" name="created_at">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Created at:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="creator">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Created by:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="participants">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Participants:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="providers">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Providers:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="region">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Region:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="language">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Language:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="anti-genres">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Anti-Genres:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="must-genres">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Must-Genres:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="min-age">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Min age:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="max-age">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Max age:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="min-duration">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Min duration:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="max-duration">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Max duration:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="min-year">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Min release year:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="max-year">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Max release year:</span>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row mt-1" name="watched">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Watched movies:</span>
        <input type="text" class="form-control" disabled> 
    </div>
</div>
<div class="row mt-1" name="rating-average">
    <div class="input-group input-group-sm">
        <span class="input-group-text">Rating:</span>
        <input type="hidden" class="form-control" disabled>
        <span name="rating-average-display" class="input-group-text input-group-text"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></span>
    </div>
</div>