<div class="row">
    <button name="overlay-selection-btn" class="mt-2 clickable btn btn-outline-secondary text-start">
        <i name="overlay-selection-btn-icon" class="bi bi-caret-right-fill"></i> Overlays <i name="overlay-selection-changed-icon" class="bi bi-activity d-none"></i>
    </button>
</div>
<div class="d-none" name="overlay-selection">

    <div class="form-check mt-2">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="overlay-title"> Show title
        </label>
    </div>
    
    <div class="form-check mt-2">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="overlay-duration"> Show duration
        </label>
    </div>

    <div class="form-check mt-2">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="overlay-genres"> Show genres
        </label>
    </div>

    <div class="form-check mt-2" name="overlay-watched-container">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="overlay-watched"> Show watched status
        </label>
    </div>

    <div class="form-check mt-2">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="overlay-age"> Show age rating
        </label>
    </div>

    <div class="form-check mt-2">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="overlay-trailer"> Show trailer play button
        </label>
    </div>

    <div class="form-check mt-2">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="overlay-rating"> Show rating average
        </label>
    </div>

</div>