<div class="row">
    <button name="overlay-selection-btn" class="mt-2 clickable btn btn-outline-secondary text-start">
        <i name="overlay-selection-btn-icon" class="bi bi-caret-right-fill"></i> Overlays <i name="overlay-selection-changed-icon" class="bi bi-activity d-none"></i>
    </button>
</div>
<div class="ms-2 mt-2  d-none" name="overlay-selection">

    <div class="row">
        <div class="col-10">
            <div class="form-check mt-2 mb-1">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="overlay-title"> Show title
                </label>
            </div>
        </div>
        <div class="col-1">
            <div class="input-group">
                <span class="input-group-text" data-bs-toggle="tooltip" data-bs-title="Display the movie title in a poster overlay."><i class="bi bi-info-circle-fill"></i></span>
            </div>
        </div>
    </div>
    
    <div class="row mt-2">
        <div class="col-10">
            <div class="form-check mt-1 mb-1">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="overlay-duration"> Show duration
                </label>
            </div>
        </div>
        <div class="col-1">
            <div class="input-group">
                <span class="input-group-text" data-bs-toggle="tooltip" data-bs-title="Display the movie duration in a poster overlay.."><i class="bi bi-info-circle-fill"></i></span>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-10">
            <div class="form-check mt-1 mb-1">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="overlay-genres"> Show genres
                </label>
            </div>
        </div>
        <div class="col-1">
            <div class="input-group">
                <span class="input-group-text" data-bs-toggle="tooltip" data-bs-title="Display the movie genres in a poster overlay."><i class="bi bi-info-circle-fill"></i></span>
            </div>
        </div>
    </div>

    <div class="row mt-2" name="overlay-watched-container">
        <div class="col-10">
            <div class="form-check mt-1 mb-1">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="overlay-watched"> Show watched status
                </label>
            </div>
        </div>
        <div class="col-1">
            <div class="input-group">
                <span class="input-group-text" data-bs-toggle="tooltip" data-bs-title="Display the movie watch status in a poster overlay. Only available for Kodi movies."><i class="bi bi-info-circle-fill"></i></span>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-10">
            <div class="form-check mt-1 mb-1">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="overlay-age"> Show age rating
                </label>
            </div>
        </div>
        <div class="col-1">
            <div class="input-group">
                <span class="input-group-text" data-bs-toggle="tooltip" data-bs-title="Display the movie age rating (FSK) in a poster overlay."><i class="bi bi-info-circle-fill"></i></span>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-10">
            <div class="form-check mt-1 mb-1">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="overlay-trailer"> Show trailer play button
                </label>
            </div>
        </div>
        <div class="col-1">
            <div class="input-group">
                <span class="input-group-text" data-bs-toggle="tooltip" data-bs-title="Display a play button for the movie trailers in a poster overlay."><i class="bi bi-info-circle-fill"></i></span>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-10">
            <div class="form-check mt-1 mb-1">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="overlay-rating"> Show rating average
                </label>
            </div>
        </div>
        <div class="col-1">
            <div class="input-group">
                <span class="input-group-text" data-bs-toggle="tooltip" data-bs-title="Display the rating from TMDB for the movie in a poster overlay."><i class="bi bi-info-circle-fill"></i></span>
            </div>
        </div>
    </div>

</div>