<div class="row">
    <div name="overlay-selection-btn" class="mt-2 clickable btn btn-outline-secondary text-start">
        <i name="overlay-selection-btn-icon" class="bi bi-caret-right-fill"></i> Overlays <i name="overlay-selection-changed-icon" class="bi bi-activity d-none"></i>
    </div>
</div>
<div class="d-none" name="overlay-selection">

    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="overlay-title" name="overlay-title">
        <label class="form-check-label" for="overlay-title">Show title</label>
    </div>
    
    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="overlay-duration" name="overlay-duration">
        <label class="form-check-label" for="overlay-duration">Show duration</label>
    </div>

    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="overlay-genres" name="overlay-genres">
        <label class="form-check-label" for="overlay-genres">Show genres</label>
    </div>

    <div class="form-check mt-2" name="overlay-watched-container">
        <input class="form-check-input" type="checkbox" id="overlay-watched" name="overlay-watched">
        <label class="form-check-label" for="overlay-watched">Show watched status</label>
    </div>

    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="overlay-age" name="overlay-age">
        <label class="form-check-label" for="overlay-age">Show age rating</label>
    </div>

    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="overlay-trailer" name="overlay-trailer">
        <label class="form-check-label" for="overlay-trailer">Show trailer play button</label>
    </div>

    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="overlay-rating" name="overlay-rating">
        <label class="form-check-label" for="overlay-rating">Show rating average</label>
    </div>

</div>